

<link rel='stylesheet' href='/stylesheets/style.css' />
<main style="padding: 20px;">
  <h1>Product List</h1>
  <a href="/products/new">Add New Product</a>
  <ul>// Loop through each product in the 'products' array 
    <% products.forEach(function(product) { %>
      <li>
        <img src="<%= product.imageUrl %>" alt="<%= product.name %>" style="width: 100px; height: auto;"> <!-- Image display -->
        <%= product.name %> - <%= product.price %> //display product name and price
        <a href="/products/<%= product._id %>">View</a>
        <a href="/products/<%= product._id %>/edit">Edit</a>
        <form action="/products/<%= product._id %>" method="POST" style="display: inline;">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Delete</button>
        </form>
      </li>
    <% }); %>
  </ul>
  </main>
  